%h1= 'authorize'

%ul
  - @scopes.each do |scope|
    %li= scope.description

= form_tag(oauth2_authorize_redirect_with_code_path(@sp), method: :post) do |f|
  = hidden_field_tag(:client_id, params[:client_id])
  = hidden_field_tag(:scope, params[:scope])
  = hidden_field_tag(:state, params[:state])
  = hidden_field_tag(:redirect_uri, params[:redirect_uri])
  = submit_tag('Authorize')

= form_tag(oauth2_unauthorized_path(@sp), method: :post) do |f|
  = hidden_field_tag(:client_id, params[:client_id])
  = hidden_field_tag(:state, params[:state])
  = hidden_field_tag(:redirect_uri, params[:redirect_uri])
  = submit_tag('Reject')
