%h1= 'Consumer'

%h2= @consumer.name

%dl
  %dt= 'client_id'
  %dd= @consumer.client_id_key
  %dt= 'client_secret'
  %dd= @consumer.client_secret
  %dt= 'redirect URIs'
  %dd
    %dl
      - @consumer.redirect_uris.each do |redirect_uri|
        %dt= redirect_uri.uri
    = form_tag(service_provider_consumer_path(@consumer.service_provider), method: :put) do |f|
      = hidden_field_tag(:type, 'add_redirect_uri')
      = text_field_tag(:redirect_uri, '', placeholder: 'redirect URI')
      = submit_tag('Add redirect URI')
  - if ENV['RAILS_ENV'] == 'development'
    %dt
      %strong= 'test authorization links for development'
    %dd
      %a{href: @consumer.client_credentials_path}= "Client Credentials"
    - if token = @consumer.token(current_user, 'authorization_code')
      %dd
        %a{href: @consumer.token_by_authorization_code_path(token)}
          access token for Authorization Code of
          %em= token.code
          with
          %em= token.redirect_uri.uri
      - if token.refresh_token
        %dd
          %a{href: @consumer.refresh_token_path(token)}
            refresh token for Authorization Code of
            %em= token.refresh_token
    %dd
      %dl
        - @consumer.redirect_uris.each do |redirect_uri|
          %dt= redirect_uri.uri
          %dd
            %a{href: @consumer.authorization_code_path(redirect_uri: redirect_uri, state: 'teststate')}= "Authorization Code Grant"
          %dd
            %a{href: @consumer.implicit_path(redirect_uri: redirect_uri, state: 'teststate')}= "Implicit Grant"

