= form_for(sp, url: service_providers_path) do |f|
  - if sp.errors.any?
    %div{ id: 'error_explanation' }
      %h2
        = pluralize(user.errors.count, 'error')
        = 'prohibited this user from being saved:'
      %ul
        - user.errors.full_messages.each do |message|
          %li
            = message
  = f.text_field(:name, placeholder: 'name')
  = f.submit('Create service provider')
