%h1= 'Service Provider'

%p<
  :preserve
    It's
  %em= @sp.name
  = '.'

%h2= 'Users'

%ul
  - @sp.users.all.each do |user|
    %li
      %dl
        %dt= 'name'
        %dd= user.name
        %dt= 'nickname'
        %dd= user.nickname
        %dt= 'email'
        %dd= user.email

= form_tag(service_provider_path(@sp), method: :put) do |f|
  = text_field_tag(:email, '', placeholder: 'e-mail address')
  = submit_tag('Add user')

%h2= 'Your consumers'

%dl
  - @sp.consumers.each do |consumer|
    %dt= consumer.name
    %dd
      %dl
        %dt= 'client_id'
        %dd= consumer.client_id_key
        %dt= 'client_secret'
        %dd= consumer.client_secret

= form_tag(service_provider_consumers_path(@sp)) do |f|
  = text_field_tag(:name, '', placeholder: 'name')
  = submit_tag('Create consumer')
