%h1= 'Service Provider'

%p<
  :preserve
    It's
  %em= @sp.name
  = '.'

- if @is_owner
  %p You are owner.

%h2= 'Scopes'

%dl
  - @sp.scopes.each do |scope|
    %dt= scope.name
    %dd= scope.description

- if @is_owner
  = form_tag(service_provider_path(@sp), method: :put) do |f|
    = hidden_field_tag(:type, 'add_scope')
    = text_field_tag(:name, '', placeholder: 'name')
    = text_field_tag(:description, '', placeholder: 'description')
    = submit_tag('Add scope')

%h2= 'Users'

%ul
  - @sp.service_provider_users.each do |sp_user|
    %li
      %dl
        %dt= 'uid'
        %dd<
          = sp_user.user.uid
          - if sp_user.is_owner
            %span<> &ensp;
            = '('
            %strong<>= 'owner'
            = ')'
        %dt= 'name'
        %dd= sp_user.user.name
        %dt= 'email'
        %dd= sp_user.user.email

- if @is_owner
  = form_tag(service_provider_path(@sp), method: :put) do |f|
    = hidden_field_tag(:type, 'add_user')
    = text_field_tag(:uid, '', placeholder: 'uid')
    = submit_tag('Add user')

%h2= 'Your consumers'

%ul
  - @sp.consumers_by_user(current_user).each do |consumer|
    %li
      %a{ href: service_provider_consumer_path(service_provider_id: @sp.id, id: consumer.id) }= consumer.name

= form_tag(service_provider_consumers_path(@sp)) do |f|
  = text_field_tag(:name, '', placeholder: 'name')
  = submit_tag('Create consumer')
