%h1= 'Service Provider'

%p<
  :preserve
    It's
  %em= @sp.name
  = '.'

- if @is_owner
  %p You are owner.

%h2= 'Scopes'

%dl
  - @sp.scopes.each do |scope|
    %dt= scope.name
    %dd= scope.description

- if @is_owner
  = form_tag(service_provider_path(@sp), method: :put) do |f|
    = hidden_field_tag(:type, 'add_scope')
    = text_field_tag(:name, '', placeholder: 'name')
    = text_field_tag(:description, '', placeholder: 'description')
    = submit_tag('Add scope')

%h2= 'Users'

%ul
  - @sp.users.all.each do |user|
    %li
      %dl
        %dt= 'name'
        %dd= user.name
        %dt= 'nickname'
        %dd= user.nickname
        %dt= 'email'
        %dd= user.email

- if @is_owner
  = form_tag(service_provider_path(@sp), method: :put) do |f|
    = hidden_field_tag(:type, 'add_user')
    = text_field_tag(:email, '', placeholder: 'e-mail address')
    = submit_tag('Add user')

%h2= 'Your consumers'

%dl
  - @sp.consumers_by_user(current_user).each do |consumer|
    %dt= consumer.name
    %dd
      %dl
        %dt= 'client_id'
        %dd= consumer.client_id_key
        %dt= 'client_secret'
        %dd= consumer.client_secret
        %dt= 'redirect URIs'
        %dd
          %dl
            - consumer.redirect_uris.each do |redirect_uri|
              %dt= redirect_uri.uri
          = form_tag(service_provider_consumer_path(@sp), method: :put) do |f|
            = hidden_field_tag(:type, 'add_redirect_uri')
            = text_field_tag(:redirect_uri, '', placeholder: 'redirect URI')
            = submit_tag('Add redirect URI')
        - if ENV['RAILS_ENV'] == 'development'
          %dt
            %strong= 'test authorization links for development'
          %dd
            %a{href: "/#{@sp.id}/oauth2/token?grant_type=client_credentials&client_id=#{consumer.client_id_key}&client_secret=#{consumer.client_secret}"}= "Client Credentials"
          - if token = consumer.token(current_user, 'authorization_code')
            %dd
              %a{href: "/#{@sp.id}/oauth2/token?grant_type=authorization_code&client_id=#{consumer.client_id_key}&client_secret=#{consumer.client_secret}&redirect_uri=#{token.redirect_uri.uri}&code=#{token.code}&state=teststate"}
                access token for Authorization Code of
                %em= token.code
                with
                %em= token.redirect_uri.uri
          %dd
            %dl
              - consumer.redirect_uris.each do |redirect_uri|
                %dt= redirect_uri.uri
                %dd
                  %a{href: "/#{@sp.id}/oauth2/authorize?response_type=code&client_id=#{consumer.client_id_key}&redirect_uri=#{redirect_uri.uri}&scope=#{@sp.scopes.map(&:name).join(' ')}&state=teststate"}= "Authorization Code Grant"
                %dd
                  %a{href: "/#{@sp.id}/oauth2/authorize?response_type=token&client_id=#{consumer.client_id_key}&redirect_uri=#{redirect_uri.uri}&scope=#{@sp.scopes.map(&:name).join(' ')}&state=teststate"}= "Implicit Grant"

= form_tag(service_provider_consumers_path(@sp)) do |f|
  = text_field_tag(:name, '', placeholder: 'name')
  = submit_tag('Create consumer')
