!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title ImoYoukan
    = csrf_meta_tags
    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload')
    = javascript_include_tag('application', 'data-turbolinks-track': 'reload')
  %body
    - flash.each do |key, value|
      = content_tag :div, value, class: "alert #{key}"
    - if current_user
      = form_tag(logout_path) do |f|
        = submit_tag('Log out')
    - else
      = form_tag(login_path) do |f|
        = text_field_tag(:username, '', placeholder: 'username')
        = password_field_tag(:password, '', placeholder: 'password')
        = submit_tag('Log in')
    = yield
